<h1>
  movimiento works!
</h1>
<app-editor [movement]="movement"></app-editor>
<hr/>
<app-list (selectMovement)="onSelectMovement($event)"></app-list>
<hr/>
<div class="positive">
  <span>Ingresos:</span>
  <span>{{accountingCost.income}}</span>
</div>
<div class="negative">
  <span>Gastos:</span>
  <span>{{accountingCost.expense}}</span>
</div>
<div [ngClass]="{positive: !isNegativeBalance() , negative: isNegativeBalance()}">
  <span>Balance:</span>
  <span>{{accountingCost.balance}}</span>
</div>